/* Стили для блока навигации */
.navigation {
  padding-top: 35px;
  margin-bottom: 72px;
}

.navigation__wrap {
  display: flex;
  justify-content: space-between;
}

.navigation__list {
  display: flex;
  align-items: center;
  grid-gap: 39px;
}

.navigation__list-item-link {
  font-size: 18px;
  font-weight: 500;
  color: var(--dark);
  text-decoration: none;
}

.navigation__list-item-link:hover {
  text-decoration: underline;
}
/* конец Стили для блока навигации */