/* Стили для главного блока */
.promo {
  margin-bottom: 65px;
}

.promo p {
  font-weight: 400;
  margin-bottom: 262px;
}

.promo span {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  color: #FFA239;
}

.promo-bg {
  height: 628px;
  background: url(../../public/bg.png) center no-repeat;
}

.promo-bg h1 {
  font-size: 48px;
  line-height: 120%;
  font-weight: 800;
  margin-bottom: 28px;
}

.promo__list li {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  gap: 12px;
  margin-bottom: 8px;
}

.promo__list li:last-child {
  margin-bottom: 0px;
}
/* конец Стили для главного блока */